<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nuoman.com.fragment" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:name=".MineApplication"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="nuoman.com.fragment.WelcomeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin login-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- Teacher input number-->
        <activity
        android:name=".TeacherInputNumberActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
        android:screenOrientation="landscape"
        android:windowSoftInputMode="adjustPan|stateHidden" >
    </activity>
        <!-- Teacher punch successful-->
        <activity
            android:name=".TeacherPunchSuccessActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!--Parent punch successful-->
        <activity
            android:name=".ParentPunchSuccessActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!--WelcomeActivity punch -->
        <activity
            android:name=".SchoolMastarLoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!--SettingActivity  -->
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

    </application>

</manifest>
